aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bleach==3.3.0
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
docutils==0.17.1
idna==2.10
importlib-metadata==4.0.1
jeepney==0.6.0
keyring==23.0.1
multidict==5.1.0
packaging==20.9
pkginfo==1.7.0
pycparser==2.20
Pygments==2.8.1
pyparsing==2.4.7
pyxdg==0.27
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
soupsieve==2.2.1
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
webencodings==0.5.1
yarl==1.6.3
zipp==3.4.1
